<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>{% block title %}{% endblock %}</title>

	<link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='vendor/bootstrap/css/bootstrap.css') }}"/>

    <script type="text/javascript" src="{{ url_for('static', filename='vendor/jquery/jquery-2.1.1.js') }}"></script>
	<script type="text/javascript" src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.js') }}"></script>

	<!-- Used to insert extra scripts and css -->
	{% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default" role="navigation">
	<div class="container-fluid">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
			<a class="navbar-brand" href="#">Brand</a>
		</div>

		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="collapse navbar-collapse" id="navbar-collapse">
			<ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/user/aaron">Aaron</a></li>
                <li><a href="/user/ryan">Ryan</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
				<p class="navbar-text">You are not signed in</p>
                <li><a href="#">login</a></li>
			</ul>
		</div><!-- /.navbar-collapse -->
	</div><!-- /.container-fluid -->
</nav>

<div class="container">
	{% block body %}{% endblock %}
</div>
</body>
</html>